h1{color:black;
text-align: center;
font-family:tahoma;
font-size: 50px
}

nav{
text-align:center;
text-decoration: underline;
font-family: tahoma;
padding-left: 50px;

}

#slogan{
	color:white;
	text-align:center;
	font-size:35px;
	font-family: tahoma; font-style:italic;
}

#intro{
	color:red;
}
body{
	color: white;
	background-color: #2278AD;
	font-family: tahoma, sans-serif;
	font-size: 16px;
}

h3{color:white;
	text-align: left;
	font-family:tahoma;

}

ul{font-family:tahoma;
}

img{
	width:100%
}

#classroom{
	width:50%;
	display:block;
	margin:0 auto;
}
#library{
	width: 50%;
	display: block; margin:0 auto;
}
#calendar{
width:50%; display:block;margin:0 auto;
}

a{ 
font-family: tahoma;
font-style: bold
}

footer{
	font-family: tahoma; 
	text-align: center;
	background-color: black;
	color: white;
	font-style: bold;
}